button, #task-list input[type="checkbox"] {
    cursor: pointer;
}

.done {
  text-decoration: line-through;
  color: gray;
}

li {
  display: flex;
  align-items: center;
  gap: 8px; 
}

li button {
  margin-left: 15px; 
}